/* 引入字体图标 */
@import './iconfont.css';

/* 全局样式表 */
html,body,#app{
  height: 100%;
  margin: 0;
  padding: 0;
  min-width: 1366px;
}

/* 面包屑导航 */
.el-breadcrumb {
  margin-bottom: 15px;
} 

/* 卡片视图 */
.el-card{
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15) !important;
}

/* 表格 */
.el-table {
  margin-top: 15px;
}

/* 分页 */
.el-pagination {
  margin-top: 15px;
}

/* 级联选择器 */
/* 新版级联选择器 高度溢出 */
.el-cascader-menu {
  height: 200px;
}

/* 步骤条 */
.el-steps{
  margin: 15px 0;
}
.el-step__title{
font-size: 13px;
}

/* 富文本编辑器 */
.ql-editor {
  min-height: 300px;
}